/* Global Styles */

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #733416;
  color: #F7E7D5;
}

.hide {
  display: none;
}

/* Header */

header {
  width: 100%;
  background-color: #CD774D;
  display: flex;
  flex-basis: row no-wrap;
  justify-content: space-between;
  align-items: center;
}

nav i {
  font-size: 2em;
  padding: 0 20px;
  color: #F7E7D5;
}

header a {
  text-decoration: none;
  display: flex;
}

header h1 {
  font-family: 'Grand Hotel', cursive;
  font-size: 2.2em;
  text-align: center;
  color: #F7E7D5;
  margin: 10px 0;
}

header img {
  width: 50px;
  padding: 0 15px;
}

/* Main Section (Home Page) */

main{
  background: url(../img/pie.jpg) center no-repeat;
  background-size: cover;
  min-height: 70vh;
}

.search-area {
  width: 100%;
  min-height: 70vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.search-area img {
  width: 100vw;
}

.search-area h3 {
  text-align: center;
  font-size: 1.2em;
  color: #F7E7D5;
}

.search-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background: rgba(95, 55, 43, 0.8);
  border-radius: 5px;
  width: 70%;
}

#refresh-btn {
  background-color: #964e2a;
  color: #F7E7D5;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin: 20px 10px;
  font-size: 0.9em;
}

#searchBtn {
  margin: 0 5px;
  font-size: 1em;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

footer i {
  font-size: 2em;
  color: #F7E7D5;
}

.mode-container {
  margin-top: 10px;
}

#dark-mode-toggle {
  font-size: 1em;
}

/* Search Result Tiles */
#results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
  border: #964e2a 10px double;
  width: 90%;
}

.result-item img {
  width: 90%;
  margin: 10px;
}

.item-name {
  font-weight: 700;
  margin-top: 0;
  text-align: center;
  padding: 0 5px;
}

.info-button {
  background-color: #964e2a;
  color: #F7E7D5;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin: 5px 10px 25px 10px;
  font-size: 0.9em;
}

/* Recipe Details */
.recipe-details {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: #964e2a 10px double;
  width: 90%;
}

.recipe-img,
.recipe-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-details img {
  width: 90%;
  margin: 10px;
}

.recipe-details p {
  margin: 15px 10px;
}

.recipe-name {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

.category {
  text-align: center;
  margin-bottom: 10px;
}

.recipe-details ul {
  margin-bottom: 20px;
  padding-right: 5px;
}

/* Developer Bio Page Styles */

#developerBio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.content-wrapper {
  width: 90%;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.developer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.developer-picture {
  width: 90%;
  margin-top: 20px;
}

.developer-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
}


/* Tablet Styles */

@media only screen and (min-width: 768px) {

  /* Header */
  nav i {
    font-size: 3em;
  }

  header h1 {
    font-size: 3em;
  }

  header img {
    width: 75px;
  }

  /* Main */

  main{
    background: url(../img/pie3.JPG) center no-repeat;
    background-size: cover;
    min-height: 70vh;
  }

  .search-content{
    width: 50%;
  }

  /* Search Result Tiles */

  #results {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .result-item {
    width: 27%;
    margin: 10px;
  }

  /* Recipe Details */

  .recipe-details img {
    width: 80%;
    margin: 30px 10px 10px 10px;
  }
}

@media only screen and (min-width: 1200px) {

  /* Header */
  header h1 {
    font-size: 3.5em;
  }

  header img {
    width: 90px;
  }

  /* Footer */

  footer {
    margin: 30px 0;
  }
  
  .mode-container {
    margin-top: 20px;
  }
  
  footer i {
    font-size: 3em;
  }
  
  #dark-mode-toggle {
    font-size: 1.2em;
  }

  /* Main */

  .search-content{
    width: 40%;
  }

  /* Search Result Tiles */

  .result-item {
    width: 20%;
    margin: 10px;
  }

  /* Recipe Details */

  .recipe-details {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .recipe-details img {
    margin: 30px;
  }

  .recipe-info {
    margin-top: 30px;
    width: 60%;
  }

  .recipe-details p.recipe-name {
    margin-top: 0;
  }

  .recipe-img {
    width: 40%;
    box-sizing: border-box;
  }

  .recipe-img img {
    width: 90%;
  }

  /* Developer Bio Page */

  .flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }
  
  .developer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }

  .developer-description {
    width: 60%;
  }

}