body {
  background-color: aqua;
}


.dark-mode {
  background: #000;
  color: #fff
}



.hide{
  display: none;
}


/* I wanted to save the font syntax for later */
/* font-family: 'Grand Hotel', cursive;
font-family: 'Open Sans', sans-serif; */